{:paths ["resources" "src"]
 :deps {babashka/process {:mvn/version "0.1.7"}
        clj-commons/clj-yaml {:mvn/version "0.7.108"}
        commons-io/commons-io {:mvn/version "2.11.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        lambdaisland/uri {:mvn/version "1.13.95"}
        metosin/reitit {:mvn/version "0.5.18"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases
 {:server {:main-opts ["-m" "srvc.server"]}}}
