{:paths ["resources" "src"]
 :deps {hiccup/hiccup {:mvn/version "1.0.5"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        lambdaisland/uri {:mvn/version "1.13.95"}
        metosin/reitit {:mvn/version "0.5.18"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases
 {:server {:main-opts ["-m" "srvc.server"]}}}
