{:paths ["resources" "src"]
 :deps {co.insilica/bb-srvc {:mvn/version "0.5.0"}
        co.insilica/canonical-json {:mvn/version "3.1.0"}
        co.insilica/clj-multihash {:mvn/version "3.0.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        lambdaisland/uri {:mvn/version "1.13.95"}
        metosin/reitit {:mvn/version "0.5.18"}}
 :aliases
 {:server {:main-opts ["-m" "srvc.server"]}}}
